@tailwind base;
@tailwind components;
@tailwind utilities;

.material-icons {
  font-size: 8px;
  padding: 8px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.8);
  color: white;
  margin-right: 16px;
}

.material-icons.blue {
  background-color: #1dcaff;
}

.material-icons.green {
  background-color: #7ab97a;
}

.material-icons.red {
  background-color: #db3434;
}

.material-icons.yellow {
  background-color: #ffd700;
}
